apiVersion: apps/v1
kind: Deployment
metadata:
  name: trend-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trend-app
  template:
    metadata:
      labels:
        app: trend-app
    spec:
      containers:
        - name: trend-app
          image: satheesh23/trend-app:latest
          ports:
            - containerPort: 80
